<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitor de QR Code</title>
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
</head>

<body>
    <button id="startButton">Abrir Câmera</button>
    <canvas id="canvas" hidden></canvas>
    <video id="video" width="300" height="300" style="border: 1px solid black;"></video>
    <p id="result"></p>

    <script>
        // onde vamos capturar o qrcode
        const video = document.getElementById('video');

        // onde vamos mostrar o qrcode capturado
        const canvasElement = document.getElementById('canvas');

        // criando um contexto de renderização 2D para o elemento <canvas>
        // canvasElement.getContext('2d') retorna um objeto que fornece métodos e propriedades para desenhar e manipular gráficos em um contexto bidimensional.

        // o contexto 2D é utilizado para capturar o frame atual do vídeo e processar a imagem para detecção de QR Code
        const canvas = canvasElement.getContext('2d');


        // texto que fala se nenhum qrcode for detectado
        const result = document.getElementById('result');

        document.getElementById('startButton').addEventListener('click', async function () {
            // Solicita acesso à câmera
            const stream = await navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } });
            video.srcObject = stream;
            video.setAttribute('playsinline', true); // necessário para o iOS safari
            video.play();

            // método do navegador que informa ao navegador que você deseja realizar uma animação e solicita que o navegador chame uma função específica para atualizar a tela na próxima vez que ele for redesenhar a tela
            requestAnimationFrame(tick);
        });

        function tick() {
            if (video.readyState === video.HAVE_ENOUGH_DATA) {

                // disponibilizando o canvas - tela que aparece embaixo
                // canvasElement.hidden = false;
                canvasElement.height = video.videoHeight;
                canvasElement.width = video.videoWidth;

                // canvas.drawImage: Desenha o frame atual do vídeo no canvas.
                canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);

                // canvas.getImageData: Captura os dados de pixel do canvas para processamento.
                // imageData é um objeto que contém os dados de pixel do canvas. Foi obtido usando o método getImageData do contexto 2D.
                const imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);

                // jsQR: Decodifica o QR Code dos dados da imagem.
                // imageData.data é um array contendo os valores RGBA de cada pixel na imagem.
                // imageData.width e imageData.height são as dimensões da imagem.

                // inversionAttempts: Define como a biblioteca deve lidar com a inversão de cores. 
                const code = jsQR(imageData.data, imageData.width, imageData.height, {
                    inversionAttempts: 'dontInvert',
                });

                // se o qrcode for detectado
                if (code) {
                    result.innerText = `Código QR detectado: ${code.data}`;

                    // Parar o vídeo
                    video.pause();

                    // Pegando número da inscrição e a data atual
                    let num_inscricao = code.data
                    num_inscricao = num_inscricao.substr(num_inscricao.lastIndexOf('/') + 1, num_inscricao.lastIndexOf('.html'))

                    let data = new Date()

                    // enviar dados para banco de dados

                    // Redirecionar para o novo index
                    window.open(code.data, "_self");
                } else {
                    result.innerText = 'Nenhum QR Code detectado.';
                }
            }
            requestAnimationFrame(tick);
        }
    </script>
</body>

</html>